.callCenter-section {
  background-color: #292000;
  padding: 30px 0 25px 0;

  .title-callCenter {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 25px;
    color: #e5e5e5;
    letter-spacing: 1px;
  }

  .text-callCenter {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 30px;
    color: #ffc700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
