.cinema-section {
  background-color: #222831;
  padding-top: 80px;

  .text-title-cinema {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #e5e5e5;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
