body {
  background-color: #101010;
  // margin: 0;
  // padding: 0;
}

.container-fluid {
  width: 95%;
}

.btn-preview {
  position: relative;
  background-color: #ffc700;
  color: #4f514f;
  border: 0;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  margin-right: 10px;
  transition: all 0.3s;

  &:hover {
    background: #5f4a00;
    color: #ffc700;
  }

  .preview-icon {
    position: absolute;
    top: 5px;
    left: 7px;
  }
}

.btn-next {
  position: relative;
  background-color: #ffc700;
  color: #4f514f;
  border: 0;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  transition: all 0.3s;

  &:hover {
    background: #5f4a00;
    color: #ffc700;
    filter: drop-shadow(0px 0px 4px #493900);
  }

  .next-icon {
    position: absolute;
    top: 5px;
    left: 9px;
  }
}
